html {
  width: 140%;
}

.material-icons._title{
  margin-bottom: 2rem;
}
h2 {
  /* display: block; */
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
.map {
  // border:ridge;
  // border-radius: 10%;
  // display: block;
  // margin: auto;
  // margin-left: 0.25rem;
  // width: 95%;
  height: 400px;
}
iframe{
  display: block;
  margin:auto;
}
.waves-effect.waves-light.btn.col.s8.offset-s2{
  margin-bottom: .5rem;
  background-color: $secondary-color;
}
.mapTitle{
  font-size:1.5rem;
  margin-top:0.5em;
}
