html {
  width: 140%;
}
// body {
//    height: 100vmin;
//   // background: url("../assets/img/bas_d_epage_.png") bottom no-repeat;
// }
.navbar{
  color:honeydew;
}
.navbarFirst{
  padding-bottom: 1rem;
}
.navColor{
background-color: $primary-color;
}
.left.material-icons{
  padding-top: .8em;
  padding-left: 0.9em;
}
.material-icons._title{
  margin-bottom: 2rem;
}
h2 {
  /* display: block; */
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
.map {
    border:ridge;
  border-radius: 10%;
  display: block;
  margin: auto;
  margin-left: 0.25rem;
  width: 95%;
}
iframe{
  display: block;
  margin:auto;
  height: 15em;
}
.waves-effect.waves-light.btn.col.s8.offset-s2{
  margin-bottom: .5rem;
  background-color: $secondary-color;
}
.card-panel.mapTitle{
  font-size:1.5rem;
  margin-top:0.5em;
  padding:0.5em;
  padding-top:1.5em;
}
footer {
   height: 100vmin;
}