html {
    width: 100%;
}
body{
    /* background: url("D:/Cours/M2iFormation/Projet/pistoo/www/img/lyonVille3.jpg"); */
}
form{
    color: #131212;
    border: ridge;
    background-color: rgb(255, 255, 255);
    /* border-radius: 10%; */
}
h2{
    margin-top: 0.15rem;
    margin-bottom: 0.05rem;
}
/* .context{
    border:ridge;
    background-color: rgb(214, 247, 255);
    /* border-radius: 5%; */
} */