
// p{
//     font-size: small;
// }

// .rappel-index{
//     text-align: center;
//     width: 100%;
// }

// .histoire{
//     background-color: beige;
//     margin-left: 1rem;
//     margin-right: 1rem;
//     padding: 1rem;
//     border-style:groove ;
//     border-radius:1rem;
// }

// // a,button{
// //     position: absolute;
// //     bottom: 0;
// //     display: block;
// //     background-color: black;
// //     border-style:none;
// //     border-radius:2em;
// //     color: rgb(247, 246, 242);
// //     width: 20%;
// //     text-align:center;  
// // }

.position-icons-rappel{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 2rem;
    color: #00838f ;
}

.choix-rappel {
    text-align : center;
}
