$primary-color: #00838f;
.navColor{
    background-color: $primary-color;
    }
 

.navbar{
    color:honeydew;
    }
// .left.material-icons{
//     padding-top: 0.8em;
//     padding-left: 0.9em;
// }
// .left.material-icons.title{
//     padding-top:1em;
// }
.brand-logo.center{
       width: 8em;
}
// .navigationLogo{
//     padding-top: 1em;
//     height: 3em;
//     position: static;
//     top: 800px; left: 800px;
// }
